.root {
    -fx-background-color: linear-gradient(#1e3c72, #2a5298);
    -fx-alignment: CENTER;
}

.title {
    -fx-font-size: 32px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button {
    -fx-font-size: 16px;
    -fx-background-radius: 20;
    -fx-padding: 10 30;
}

.title-win {
    -fx-font-family: "Arial Black";
    -fx-effect: dropshadow(gaussian, gold, 10, 0, 0, 0);
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}